param="train-file"              value="D:\word2vector\config\c.token.filter.1000"
param="save-vocab"              value="D:\word2vector\config\vocab.me.txt"
param="output-file"             value="D:\word2vector\config\word.vector.me.txt"
param="output-word-cluster"     value="D:\word2vector\config\word.cluster.me.txt"

param="threads-number"          value="1"
param="sample"                  value="1e-3"
param="size"                    value="200"
param="classes"                 value="0"
param="binary"                  value="0"
param="negative"                value="5"
param="model"                   value="0"